* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: lightgray;
}

.App {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- Custom --- */
.app-container {
  padding: 20px;
  background-color: white;
  min-height: 1180px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error {
  padding-top: 50px;
  padding-bottom: 100px;
}

.error h3 {
  margin: 1em;
}

.system {
  padding-top: 20px;
}

/* -- Header -- */

.banner {
  display: flex;
  align-items: center;
}

.user-profile {
  flex-grow: 1;
  display: flex;
  margin-bottom: 10px;
}

.user-box {
  margin-left: 10px;
  text-align:right;
}

.user-box.dummy {
  flex-grow: 1;  
}

.user-box.welcome {
  font-size: 14px;
  text-align: left;
}

.user-box img {
  width: 40px;
}

h1 {
  margin-bottom: 10px;
  font-size: 1.4rem;
  text-align: left;
}

/* --- Nav Bar --- */

.nav-bar {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.nav-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu.back {
  justify-content: flex-start;
}

.nav-menu .menu-item {
  display: inline-block;
  padding-inline: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-menu.back .menu-item {
  padding-left: 0;
}

.nav-menu .menu-item.selected {
  /* color: orange;
  font-weight: bold; */
  padding-inline: 10px;
  background-color: black;
  color: white;
  ;
}

/* -- Article List -- */

.control-bar {
  text-align: right;
  margin-bottom: 10px;
}

.control-bar .control-item {
  font-size: 14px;
  margin-inline: 2px;
}

.control-bar label.control-item {
  font-weight: bold;
  margin-left: 10px;
}

.article-list {
  margin-top: 20px;
}

.article-card {
  display: flex;
  align-items: flex-start;
}

.article-card img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.article-card .article-box {
  text-align: left;
  width: auto;
}

.article-box .article-item {
  margin-bottom: 5px;
  display: block;
  justify-content: left;
}

.article-box h3 {
  font-size: 14px;
}

.article-box .subtitle {
  font-size: 12px;
}

.subtitle span {
  display: inline-block;
  margin-right: 0.5em;
}

.like span {
  display: inline-block;
  margin-right: 1em;
}

/* -- Article Detail -- */

.article-detail {
  display: block;
  margin-top: 20px;
}

.article-detail h3 {
  font-size: 18px;
}

.article-detail img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-detail .detail-item {
  text-align: left;
  margin-bottom: 10px;
}

.article-detail .subtitle {
  display: flex;
  font-size: 15px;
}

.subtitle .flex-box{
  margin-right: 0.5em;
}

.article-detail .content {
  line-height: 1.4em;
  font-size: 17px;
  margin-bottom: 20px;
}

.article-detail .like {
  font-size: 15px;
}

.like button {
  margin-right: 10px;
  padding: 5px;
  border: 0.5px solid;
  border-radius: 10px;
}

.like .like-box {
  margin-right: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 250px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 14px;
  padding: 5px;
  border: white solid 1px;
  border-radius: 5px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -1em;
  left: 1em;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* -- Comment Section -- */

.comment-header {
  text-align: left;
  margin-bottom: 20px;
}

.comment-form {
  border: 0.5px grey solid;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.comment-form form {
  display: flex;
  align-items: flex-end;
}

.comment-input {
  flex-grow: 1;
  padding: 5px;
  box-sizing: border-box;
}

.comment-button {
  margin-left: 10px;
  padding: 0.5em 1em;
  border: 0.5px solid;
  border-radius: 10px;
}

.comment-form .tooltip {
  display: block;
  text-align: left;
}

/* -- Comment List -- */

.comment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0;
  margin-left: 0;
  margin-right: auto;
  width: max(90%, 280px);
}

.comment-card.me {
  align-items: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.comment-box span {
  display: inline-block;
  font-size: 14px;
}

.comment-box .author {
  font-weight: bold;
  padding: 0.5em;
}

.comment-card .content {
  text-align: left;
  border: 0.5px gray solid;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  padding-inline: 20px;
  font-size: 16px;
}

.comment-card.me .content {
  padding-right: 10px;
}

.comment-content p {
  flex-grow: 1;
  margin: auto;
}

.comment-box .comment-button {
  padding: 5px 10px;
}

.comment-card.me .tooltip {
  display: block;
  /* text-align: left; */
  margin-left: 5px;
}

.comment-card.me .tooltip-text {
  width: 250px;
  left: -251px;}

/* --- Reponsive Webpage --- */

.grid-container {
  display: grid;
  gap: 20px;
}

/* Extra small devices (phones, 426px and down) */
@media only screen and (max-width: 426px) {
  .article-detail h3 {
    font-size: 18px;
  }

  .article-detail .content {
    font-size: 16px;
    line-height: 1.2em;
  }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    max-width: 680px;
  }

  .article-list.grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .control-bar.grid-item {
    grid-column: span 2;
  }

}

/* Extra large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .App {
    max-width: 1024px;
  }

  .article-list.grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .control-bar.grid-item {
    grid-column: span 3;
  }
  
  .article-detail.grid-container {
    grid-template-columns: 60% auto;
  }

  .article-section.grid-item {
    padding-right: 20px;
    border-right: 0.5px solid;
  }
}

/* --- Modal --- */
.modal-header {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 0.5px solid;
}

.modal-message {
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}