* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- Custom --- */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* -- Header -- */

h1 {
  margin: 0.8em;
  margin-left: 20px;
  /* font-size: 1.8rem; */
  text-align: left;
}

.nav-bar {
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

/* -- Article Card -- */
.article-card {
  display: flex;
  align-items: top;
  margin: 20px;
}

.article-card img {
  margin-right: 20px;
  width: 100px;
}

.article-card .article-box{
  text-align: left;
  width: 100%;
}

.subtitle {
  display: flex;
  justify-content: left;
  font-size: 14px;
}

.subtitle span {
  margin-right: 1em;
}

.subtitle .datetime {
  text-align: right;
}

/* -- Article Detail -- */

.article-detail {
  display: block;
  margin: 20px;
}

.article-detail img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.detail-item {
  text-align: left;
  margin: 0.5em 0;
}

.detail-item .subtitle {
  display: flex;
}

.subtitle .flex-box{
  display: inline-block;
  margin-right: 1em;
}

.content {
  line-height: 1.4em;
  font-size: 18px;
}

/* -- Comment Section -- */
.comment-header {
  text-align: left;
  margin: 20px 0;
}

/* -- Comment List -- */
.comment-card {
  display: flex;
  flex-wrap: wrap;
  border: gray solid;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.comment-card .comment-box {
  margin-right: 10px;
}

.comment-card .comment-author {
  font-weight: bold;
}

.comment-card .comment-content {
  width: 200px;
  flex-grow: 1;
}