* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- Custom --- */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* -- Header -- */
.banner {
  display: flex;
}

.user-profile {
  flex-grow: 1;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.user-box {
  margin-left: 10px;
  text-align:right;
}

.user-box.dummy {
  flex-grow: 1;  
}

.user-box.welcome {
  font-size: 14px;
  text-align: left;
}

.user-box img {
  width: 40px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 1.4rem;
  text-align: left;
}

.nav-bar {
  margin: 10px 20px 20px 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.nav-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu.back {
  justify-content: flex-start;
}

.nav-menu .menu-item {
  display: inline-block;
  /* font-weight: normal; */
  /* padding-inline: 5px; */
  padding-inline: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-menu .menu-item.selected {
  /* color: orange;
  font-weight: bold; */
  padding-inline: 10px;
  background-color: black;
  color: white;
  ;
}

/* -- Article Card -- */
.article-list {
  margin: 20px 0 ;
}

.article-card {
  display: flex;
  align-items: flex-start;
  margin: 10px 20px;
}

.article-card img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.article-card .article-box{
  text-align: left;
  width: 100%;
}

.article-card h3 {
  font-size: 14px;
}

.article-box .subtitle {
  display: flex;
  justify-content: left;
  font-size: 14px;
}

.subtitle .author {
  margin-right: 0.5em;
}

/* -- Article Detail -- */

.article-detail {
  display: block;
  margin: 20px;
}

.article-detail img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-detail .detail-item {
  text-align: left;
  margin: 0.5em 0;
}

.article-detail .subtitle {
  display: flex;
  font-size: 14px;
}

.subtitle .flex-box{
  margin-right: 0.5em;
}

.article-detail .content {
  line-height: 1.4em;
  font-size: 17px;
  margin-bottom: 20px;
}

.article-detail .like {
  font-size: 14px;
}

.like button {
  margin-right: 10px;
  padding: 5px;
  border: 0.5px solid;
  border-radius: 10px;
}

.like .like-box {
  margin-right: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 250px;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 0.8em;
  padding: 5px;
  border: white solid 1px;
  border-radius: 5px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -2em;
  left: 1em;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* -- Comment Section -- */

.comment-header {
  text-align: left;
  margin: 20px 0;
}

.comment-form {
  border: 0.5px grey solid;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  margin: 10px 0;
}

.comment-form form {
  display: flex;
  align-items: flex-end;
}

.comment-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  box-sizing: border-box;
}

.comment-button {
  margin-left: 10px;
  padding: 0.5em 1em;
  border: 0.5px solid;
  border-radius: 10px;
}

.comment-form .tooltip {
  display: block;
  text-align: left;
}

.comment-form .tooltip-text {
  top: -0.5em;
  left: 1em;
}

/* -- Comment List -- */

.comment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0;
  margin-left: 0;
  margin-right: auto;
  width: max(90%, 300px);
}

.comment-card.me {
  align-items: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.comment-card .comment-box {
  font-size: 15px;
}

.comment-card .comment-author {
  padding: 5px;
  font-weight: bold;
}

.comment-card .comment-content {
  padding: 10px;
  text-align: left;
  border: 0.5px gray solid;
  border-radius: 20px;
  width: 90%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  padding-left: 20px;
}

.comment-content p {
  flex-grow: 1;
  margin: auto;
}

.comment-content .comment-button {
  padding: 5px 10px;
}